<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="300">
      <LayoutAnchorablePane>
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="ToolBox" IsSelected="True" ContentId="ToolBoxView" IsActived="True" CanClose="False"/>
      </LayoutAnchorablePane>
      
      <LayoutAnchorablePane >
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Property" IsSelected="True" ContentId="PropertyBrowserView" CanClose="False" />        
      </LayoutAnchorablePane>

    </LayoutAnchorablePaneGroup>

    
    <LayoutPanel Orientation="Vertical">

      <LayoutPanel Orientation="Horizontal">

        <LayoutDocumentPaneGroup>
          <LayoutDocumentPane>
            <LayoutDocument Title="ImageView" ContentId="ImageView" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>

        <LayoutAnchorablePaneGroup DockWidth="300">
          <LayoutAnchorablePane>
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Project" ContentId="ProjectView" IsSelected="True" CanClose="False" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>

      </LayoutPanel>

      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="150">
        <LayoutAnchorablePane>
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" ContentId="LogView" IsSelected="True" CanClose="False" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>

  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>